@layout AccountLayout
@inherits LayoutComponentBase

<center>
    <div class="col-lg-8 px-5 container-fluid">
        @* <div class="row col-12 ">
            <p>&nbsp;</p>
        </div> *@
        <div class="col-lg-13 row">
            <div class="col-6 pr-5 border-right-groove" style="border-right:groove; align-content:center">
                <img src="../images/cara-logo.png" width="400px" height="200px" class="logo-image" />
            </div>
            <div class="col-6 px-4 border-left-groove" style="border-left:groove">
                <div class="col-lg-6">
                    <div class="media-hide">
                        <br /><br /><br /><br /><br />
                    </div>
                    @Body
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>

