<footer id="footer" class="container" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <div class="col contact">
        <img class="logo" src="../images/cara-logo.png" alt="logo" style="width: auto; height: 50px"/>
        <h4>Contact</h4>
        <p><strong>Address: </strong>8, Kadupe Street, Off Oguntuwase, Akesan, Lagos</p>
        <p><strong>Phone: </strong>+234 903-721-6948</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="/login">Log In</a>
        <a href="/cart">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <p>Secured Payment Gateways</p>
        <img src="../images/pay/pay.png" alt="" />
    </div>

    <div class="copyright">
        <p>&copy; @DateTime.Now.Year - Cara - E-Commerce Website</p>
    </div>
    
</footer>
