
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-between align-itemms-center">
        <a class="navbar-brand me-auto" href="#"><img src="images/cara-logo.png" class="img-fluid" style="width:200px; padding-right:22px " alt="Logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <CartIcon />
        <div class="offcanvas offcanvas-end nav-scrollable" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body align-items-center ">
                <ul class="navbar-nav justify-content-center flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link mx-lg-2" href="/" Match="NavLinkMatch.All" ActiveClass="my-active-class">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link mx-lg-2" href="/shop" Match="NavLinkMatch.All" ActiveClass="my-active-class">Shop</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link mx-lg-2" href="#" Match="NavLinkMatch.All" ActiveClass="my-active-class">About</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link mx-lg-2" href="#" Match="NavLinkMatch.All" ActiveClass="my-active-class">Contact</NavLink>
                    </li>
                    <li class="nav-item dropdown">
                        <NavLink class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </NavLink>
                        <ul class="dropdown-menu align-content-end">
                            <AuthorizeView>
                                <Authorized>
                                    <li class="nav-item highlight">
                                        <LogoutForm />
                                    </li>
                                </Authorized>
                                <NotAuthorized>
                                    <li>
                                        <NavLink class="dropdown-item" href="sign-up">
                                            Sign Up
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="dropdown-item" href="login">
                                            Login
                                        </NavLink>
                                    </li>
                                </NotAuthorized>
                            </AuthorizeView>
                        </ul>
                    </li>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/admin/dashboard" Match="NavLinkMatch.All" ActiveClass="my-active-class">Hi, @context.User.Identity!.Name</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="User">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" Match="NavLinkMatch.All" ActiveClass="my-active-class">Hi, @context.User.Identity!.Name</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
                <form class="d-flex mt-3" role="search" id="search-bar">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a class="search-icon m-3" type="submit" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" /></svg>
                    </a>
                </form>
            </div>
        </div>
    </div>
</nav>
